USE [master]
GO
/****** Object:  Database [HastaKayitDB]    Script Date: 27.06.2026 15:32:30 ******/
CREATE DATABASE [HastaKayitDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HastaKayitDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HastaKayitDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HastaKayitDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HastaKayitDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HastaKayitDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HastaKayitDB]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 27.06.2026 15:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[HastaID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](max) NULL,
	[Telefon] [varchar](20) NULL,
	[Sikayet] [nvarchar](max) NULL,
	[KayitTarihi] [smalldatetime] NULL,
	[AktifMi] [bit] NULL,
	[Borc] [money] NULL,
 CONSTRAINT [PK_Hastalar] PRIMARY KEY CLUSTERED 
(
	[HastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF_Hastalar_KayitTarihi]  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF_Hastalar_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF_Hastalar_Borc]  DEFAULT ((0)) FOR [Borc]
GO
USE [master]
GO
